  <%- include('header', {
    title: "Payment", 
    description: "Ezeely make a payment from your credit card."
  }) %>
  
  <div class="container" style="margin-top: -100px;">
    <div class="row">
      <div class="col-lg-10 mx-auto">
  
        <div class="card p-2 p-md-5 pt-2">
          <div class="card-body">
            
            <% if (locals.message) { %>
              <div class="alert alert-success" id="msg" role="alert"><%= message %></div>
            <% } %>
  

            <div class="row  align-items-end">
              <div class="col-lg-6">
                <form id="paymentForm" action="/services/payment" method="POST">
                  <div class="row align-items-end">    
                    <div class="col-12 mb-3">
                      <label for="amount" class="form-label text-secondary">Amount </label>
                      <input type="number" name="amount" id="amount" required placeholder="amount" step="0.01" class="form-control">
                    </div>
      
                    <div class="col-12 text-end">
                      <button type="submit" class="btn btn-dark btn-md w-100 text-uppercase">Make Payment</button>
                    </div>
                  </div>          
                </form>
              </div>
              <div class="col-lg-6">
                <div class="text-center">
                  <div class="card shadow-none border-0 bg-dark p-3 w-75 ms-auto me-0">
                    <div class="text-uppercase fs-6 text-light">Current Balance</div>
                    <div class='fw-bold display-4 fs-2 text-warning'>$<%= account.balance %></div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
  
      </div>
    </div>
  </div>
  
  <script src="/js/transfer.js"></script>
  
  <%- include('footer') %>
  
  